body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    background-image: url(loginpic.jpg);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    /*background-color: #1e1e1e;*/
    background-origin:padding-box;
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
}

.year-buttons, .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #6200ea;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

.tab-content {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #444444;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333333;
    border: 1px solid #444444;
    color: #ffffff;
    border-radius: 5px;
}
